# General files
.env
.env.local
.DS_Store
Thumbs.db
ISSUES.md
TODO.md

# Editors / IDEs
.idea/
.vscode/
.eclipse/
.classpath
.project
.settings/
*.swp
*.swo
*~
*.iml
*.iws
*.ipr
.clang-format

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.egg-info/
.Python
build/
dist/
*.egg
.ruff_cache
debug*

# Java / Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml
*.class
*.jar
*.war
*.ear
recipe_suggestor_java/bin/
recipe_suggestor_java/output_test_image.jpg
recipe_suggestor_java/README.md

# C++
recipe_suggestor_cpp/build/
recipe_suggestor_cpp/libtorch/
recipe_suggestor_cpp/outputs/

# Models / Data / Training
models_training/runs/
models_training/lib/
models_training/BoC---TBOI*
yolov8n.pt
cp.txt

# Specific Binaries / Temp / Archives
opencodetmp/
test_cpp
*.log
*.zip
*.tar.gz
*.rar
